@{
    ViewBag.Title = "Home Page";
}

<div ng-app="myApp" ng-controller="TwitterController" id="tweetcontainer" class="container">
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Search Text" ng-model="searchText" ng-keyup="keyUpTextSearch()">
    </div>
    <div class="panel panel-default" class="ng-cloak" ng-repeat="tweet in tweets" ng-show="tweet.isVisible">
        <div class="panel-heading">
            <div class='row'>
                <div class="col-md-2">
                    @*<img class="img-responsive" src="{{tweet.user.profile_image_url}}"/>*@
                    <img class="img-responsive" src="{{tweet.profile_image_url}}"/>
                </div>
                <div class="col-md-10">
                   <a class="panel-title" ng-href="{{tweet.user.url}}">@@{{tweet.user.screen_name}}</a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">{{tweet.created_at | date : "MMM d, y h:mm:ss a"}}</div>
                <div class="col-md-10">
                    <p id="tweet_text_{{$index}}">
                        <span>{{tweet.text}}</span>
                     
                    </p>
                </div>
            </div>

            
        </div>
        <div class="panel-body">
            <div class="col-md-2">
                <div ng-show="tweet.retweet_count"><i class="fa fa-retweet"></i> {{tweet.retweet_count}} times</div></div>
            <div class="col-md-10">
                <div class="panel-title">
                    <div ng-show="tweet.media">
                        <img ng-src="{{tweet.media.media_url}}" class="img-responsive"/>
                    </div>
                    <div ng-show="tweet.description.length && !tweet.media">
                        {{tweet.description}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

